<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Calculator</title>
        <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <nav>
            <ul>
                <!-- <li><a href='../../add'>Add</a></li> |
                <li><a href='../../subtract'>Subtract</a></li> |
                <li><a href='../../divide'>Divide</a></li> |
                <li><a href='../../multi'>Multiply</a></li> -->
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
        <%= yield %>
    </body>
</html>
