<%= "Hello #{@pizza.name()}, You have ordered #{@pizza.quantity} #{@pizza.topping} pizza(s)" %>
</br>
<a href='/'>Home</a> |<a href='/pizzas'>View Pizza Orders</a> | <a href='/pizzas/new'>Create New Pizza Order</a>
