<h1>Pizzas Orders</h1>
<div class='menu'><a href='/'>Home</a> | <a href='/pizzas/new'>Create New Pizza Order</a></div>
<% if @pizzas.length > 0 %>
    <table>
        <tr class='head_row'>
            <td><u>Name</u></td>
            <td><u>Topping</u></td>
            <td><u>Quantity</u></td>
        </tr>
        <% for pza in @pizzas %>
            <%= "<tr class='order_row'><td>#{pza.name}</td><td>#{pza.topping.capitalize()}</td><td>#{pza.quantity}</td></tr>" %>
        <% end %>
    </table>
<% end %>
